body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #e9e5de65;
}

.title-container {
  background-color: #e0c28965;
  background-color: #026ccf65;
  background-color: #ffffff65;
  padding: 10px;
  color:#fff;
  margin-bottom: 40px;
}

.logo-img {
  width: 5%;
  display: block;
  margin: 0 auto;
}

.logo-img-checkout {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  display: block
}

ul, li, p {
  margin: 0!important;
  padding: 0!important;
}
.list-group-item h5 {
  margin-left: 10px;

}

.list-group-item {
  border: none!important;
}

h5 {
  margin-top: 5px;
  padding: 0!important; 
}

img {
  width: 75%;
}

.main-card {
  padding: 0px;
  filter: drop-shadow(4px 4px 4px #4a4a4b52);
  border-radius: 0px;
  padding: 20px;
}

.single-item {
  background-color: #fff;
  border: 3px solid rgba(20, 20, 20, 0.068);
  border-radius: 5px;
  filter: drop-shadow(4px 4px 1px #4a4a4bc2);
}

.mt-1 {

  border-radius:3px; 
}

.mt-1 h3 {
  color: rgb(20, 20, 20);
  font-style: italic;
}

th.inc-item:hover,
th.dec-item:hover,
th.delete-item:hover {
  cursor: pointer;
}

.shop-img {
  margin: 0 auto;
  text-align: center;
  width: 350px;
}

.showCheckOut {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(102, 102, 102, 0.8);
  width: 100%;
  height: 100vh;
  z-index: -2;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}

.showCheckOut-show {
  opacity: 1;
  z-index: 0;
  visibility: visible
}

.checkout-overlay {
  position: relative;
  border: 3px solid #e0c28965;
  width:50%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 100%;
  background: #eee;  
  filter: drop-shadow(4px 4px 4px #4a4a4bc2);
  
}

.view-btn {
  margin-right: 5px!important;
  display: inline-block!important;
}

#close-checkout {
  position: absolute;
  top:20px;
  left:20px;
  cursor: pointer;
}

.checkout-summary {
  width: 70%;
  margin: 0 auto;
}

.checkout-summary-ul,
.checkout-summary-li {
  list-style: none;
}

.checkout-summary-li {
  font-size: 30px;
}

.check-out-error {
  color: red;
}

